.search-area {
    width: 90%;
    height: 100%;
    margin: auto 4vw;
}

.search-input-section {
    width: 100%;
    max-width: 500px;
}

.search-input-section input {
    margin: .2rem;
    border: solid 1px #7b9c84;
    height: 2rem;
    width: 95%;
    border-radius: 4px;
}

.choice-button-section {
    max-width: 800px;
}

.choice-button-section button {
    margin: .2rem;
    border: solid 1px #7b9c84;
    border-radius: 4px;
    height: 2rem;
    background-color: #7b9c84;
    color: white;
    transition: .4s;
}

.choice-button-section button:hover{
    cursor: pointer;
    background-color: #528560;
}

.nutritional-facts h2 {
    margin: 2vh auto;
}